.planets {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  width: 1200px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}

.planet {
  padding-top: 20px;
}

.planet .title {
  font-size: 24px;
  text-align: left;
}

.residents {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 20px;
  padding-left: 50px;
}

.resident {
  display: flex;
  margin-top: 20px;
}

.resident-gender {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.4);
}

.species {
  padding-left: 20px;
  padding-top: 10px;
  color: rgba(183, 215, 233, 0.5);
}

.species span {
  color: rgba(155, 255, 242, 0.6);
}
